<form [formGroup]="form" (keydown.enter)="$event.preventDefault()">
  <div nz-row class="pad-bot-form">
    <div nz-col nzSpan="24">
      <label>{{ langData[langCode].EMAIL_GUI_THU}}</label><label class="field-required">*</label>
    </div>
    <div nz-col nzSpan="24" [ngClass]="displayFieldCss(form, 'emailGuiThu')">
      <input nz-input formControlName="emailGuiThu" />
      <app-field-error-display [displayError]="isFieldValid(form, 'emailGuiThu')"
        [errorMsg]="langData[langCode].KHONG_DUOC_DE_TRONG">
      </app-field-error-display>
      <app-field-error-display [displayError]="isFieldValid(form, 'emailGuiThu', 'email')"
        [errorMsg]="langData[langCode].EMAIL_ERROR_FIELD">
      </app-field-error-display>

    </div>
  </div>
  <div nz-row class="pad-bot-form">
    <div nz-col nzSpan="24">
      <label>{{ langData[langCode].PASSWORD_EMAIL_GUI_THU }}</label><label class="field-required">*</label>
    </div>
    <div nz-col nzSpan="24">
      <nz-input-group [nzPrefix]="passIcon" [nzSuffix]="showPassButtonLogin"
        [ngClass]="displayFieldCss(form, 'passwordEmailGuiThu')">
        <input [attr.type]="showPassWord ? 'text' : 'password'" class="nz-form-input" nz-input
          formControlName="passwordEmailGuiThu" [attr.placeholder]="langData[langCode].MAT_KHAU" nzSize="large"
          (change)="matchPassword()" />
        <ng-template #passIcon>
          <i class="fas fa-lock prefix-icon"></i>
        </ng-template>
        <ng-template #showPassButtonLogin>
          <i (click)="toggleShowPassLogin('showPassWord')" class="fas fa-eye append-icon"
            [ngClass]="showPassWord ? 'fas fa-eye-slash append-icon' : 'fas fa-eye append-icon'"></i>
        </ng-template>
      </nz-input-group>
      <ng-container *ngIf="isFieldValid(form, 'passwordEmailGuiThu')">
        <small *ngIf="form.get('passwordEmailGuiThu').errors.required" class="text-red">
          {{ langData[langCode].KHONG_DUOC_DE_TRONG}} <br />
        </small>
      </ng-container>
    </div>
  </div>


  <div nz-row class="pad-bot-form">
    <div nz-col nzSpan="24">
      <label>{{ langData[langCode].NHAP_LAI_MAT_KHAU }}</label><label class="field-required">*</label>
    </div>
    <div nz-col nzSpan="24">
      <nz-input-group [nzPrefix]="passIcon" [nzSuffix]="showPassButtonConfirmPassword"
        [ngClass]="displayFieldCss(form, 'confirmPassword')">
        <input [attr.type]="showPassWordConfirm ? 'text' : 'password'" class="nz-form-input" nz-input
          formControlName="confirmPassword" [attr.placeholder]="langData[langCode].NHAP_LAI_MAT_KHAU" nzSize="large" />
        <ng-template #passIcon>
          <i class="fas fa-lock prefix-icon"></i>
        </ng-template>
        <ng-template #showPassButtonConfirmPassword>
          <i (click)="toggleShowPassLogin('showPassWordConfirm')" class="fas fa-eye append-icon"
            [ngClass]="showPassWordConfirm ? 'fas fa-eye-slash append-icon' : 'fas fa-eye append-icon'"></i>
        </ng-template>
      </nz-input-group>

      <ng-container *ngIf="isFieldValid(form, 'confirmPassword')">
        <small *ngIf="form.get('confirmPassword').hasError('required')" class="text-red">
          {{ langData[langCode].KHONG_DUOC_DE_TRONG}} <br />
        </small>
      </ng-container>
      <small *ngIf="!isMatch" class="text-red">
        {{ langData[langCode].MAT_KHAU_KHONG_TRUNG_KHOP}}
      </small>
    </div>
  </div>

  <div nz-row class="pad-bot-form">
    <div nz-col nzSpan="24">
      <label>{{ langData[langCode].EMAIL_NHAN_THU}}</label><label class="field-required">*</label>
    </div>
    <div nz-col nzSpan="24" [ngClass]="displayFieldCss(form, 'emailNhanThu')">
      <input nz-input formControlName="emailNhanThu" />
      <app-field-error-display [displayError]="isFieldValid(form, 'emailNhanThu')"
        [errorMsg]="langData[langCode].KHONG_DUOC_DE_TRONG">
      </app-field-error-display>
      <app-field-error-display [displayError]="isFieldValid(form, 'emailNhanThu', 'email')"
        [errorMsg]="langData[langCode].EMAIL_ERROR_FIELD">
      </app-field-error-display>

    </div>
  </div>


  <div nz-row class="pad-bot-form">
    <div nz-col nzSpan="24">
      <label>{{ langData[langCode].PHU_CAP_CONG_TAC_VIEN }}</label><label class="field-required">*</label>
    </div>
    <div nz-col nzSpan="24" [ngClass]="displayFieldCss(form, 'phuCapCongTacVien')">
      <input nz-input formControlName="phuCapCongTacVien" type="number" min="0" />
      <ng-container *ngIf="isFieldValid(form, 'phuCapCongTacVien')">
        <small class="text-red"
          *ngIf="form.get('phuCapCongTacVien').hasError('min')">{{langData[langCode].PHU_CAP_LON_HON_HOAC_BANG_0}}</small>
        <small class="text-red"
          *ngIf="form.get('phuCapCongTacVien').hasError('required')">{{langData[langCode].KHONG_DUOC_DE_TRONG}}</small>
      </ng-container>

    </div>
  </div>


  <div nz-row class="ant-modal-footer fk-modal-footer">
    <div nz-col nzSpan="24" class="ali-right">
      <div class="pad-left-form-control" style="display: inline-block">
        <button nz-button nzType="default" nzSize="default" type="button" class="nz-btn-red" (click)="onCancel()">
          <i class="fas fa-times mr-right-5"></i>{{ langData[langCode].HUY }}
        </button>
      </div>
      <div class="pad-left-form-control" style="display: inline-block">
        <button nz-button nzType="primary" nzSize="default" type="button" (click)="onSubmit()">
          <i class="fas fa-save mr-right-5"></i>{{ langData[langCode].LUU }}
        </button>
      </div>
    </div>
  </div>
</form>
