<app-breadcrumb [breadcrumb]="breadcrumbObj"></app-breadcrumb>
<div nz-row>
  <div nz-col nzSpan="12">
    <span class="text-title">{{ breadcrumbObj.heading }}</span>
  </div>
  <div nz-col nzSpan="12" class="text-right">
    <nz-input-group nzSearch [nzAddOnAfter]="searchIcon" class="search-box mr-right-5">
      <input type="text" nz-input [placeholder]="langData[langCode].TIM_KIEM" [(ngModel)]="searchValue"
        (keyup.enter)="onSearch()" (keyup)="onSearch()" />
      <ng-template #searchIcon>
        <button nz-button nzType="primary" nzSearch (click)="onSearch()">
          <i class="fas fa-search"></i>
        </button>
      </ng-template>
    </nz-input-group>
    <button nz-button class="nz-btn-green" (click)="openModal(formGiangVien)">
      <i class="fas fa-plus mr-right-5"></i>{{ langData[langCode].THEM }}
    </button>
  </div>
</div>
<hr />
<div nz-row>
  <div nz-col nzSpan="8" class="d-flex align-items-center">
    <div nz-col nzSpan="4">
      <label> {{ langData[langCode].KHOA }}:</label>
    </div>
    <div nz-col nzSpan="20">
      <nz-select nzServerSearch nzShowSearch nzAllowClear [nzPlaceHolder]="langData[langCode].CHON_KHOA"
        class="size-select-box w-70" [(ngModel)]="filterKhoa" (ngModelChange)="onChangeKhoa($event)"
        (nzOnSearch)="filterKhoaValueChanged.next($event)">
        <nz-option *ngFor="let khoa of listKhoa" [nzLabel]="langCode === 'vi' ? khoa.tenKhoa : khoa.tenKhoaEn"
          [nzValue]="khoa.id"></nz-option>
      </nz-select>
    </div>
  </div>

  <div nz-col nzSpan="8" class="d-flex align-items-center">
    <div nz-col nzSpan="4">
      <label> {{ langData[langCode].NGANH }}:</label>
    </div>
    <div nz-col nzSpan="20">
      <nz-select nzServerSearch nzShowSearch nzAllowClear [nzPlaceHolder]="langData[langCode].CHON_NGANH"
        class="size-select-box w-70 d-block" [(ngModel)]="filterNganh" (ngModelChange)="onChangeNganh($event)"
        (nzOnSearch)="filterNganhValueChanged.next($event)">
        <nz-option *ngFor="let nganh of listNganh" [nzLabel]="langCode === 'vi' ? nganh.tenNganh : nganh.tenNganhEn"
          [nzValue]="nganh.id"></nz-option>

      </nz-select>
    </div>
  </div>
  <div nz-col nzSpan="8" class="d-flex align-items-center">
    <div nz-col nzSpan="4">
      <label> {{ langData[langCode].LINH_VUC }}:</label>
    </div>
    <div nz-col nzSpan="20">
      <nz-select nzServerSearch nzShowSearch nzAllowClear [nzPlaceHolder]="langData[langCode].CHON_LINH_VUC"
        class="size-select-box w-70 d-block" [(ngModel)]="filterLinhVuc" (ngModelChange)="onChangeLinhVuc($event)"
        (nzOnSearch)="filterLinhVucValueChanged.next($event)">
        <nz-option *ngFor="let linhVuc of listLinhVuc" [nzLabel]=" linhVuc.tenLinhVuc " [nzValue]="linhVuc.maLinhVuc">
        </nz-option>
      </nz-select>
    </div>
  </div>
</div>
<hr />
<nz-table #table class="table-border table-cell-middle table-margin-bot" nzSize="middle" nzShowPagination="false"
  [nzData]="listGiangVien.data" [nzScroll]="{ x: '500px' }">
  <thead>
    <tr>
      <th nzAlign="center" nzWidth="50px">
        {{ langData[langCode].SO_THU_TU }}
      </th>
      <th nzAlign="center" nzWidth="150px">
        {{ langData[langCode].HO_VA_TEN }}
      </th>
      <th nzAlign="center" nzWidth="100px">{{ langData[langCode].EMAIL }}</th>
      <th nzAlign="center" nzWidth="100px">
        {{ langData[langCode].TRANG_THAI }}
      </th>
      <th nzAlign="center" nzWidth="100px"><i class="fas fa-cog"></i></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let giangVien of listGiangVien.data; let i = index">
      <td nzAlign="center">
        {{ i + 1 + (listGiangVien.currentPage - 1) * listGiangVien.limit }}
      </td>
      <td nzAlign="center">{{ giangVien.hoTen }}</td>
      <td nzAlign="center">{{ giangVien.email }}</td>
      <td nzAlign="center">
        <nz-tag nzColor="success" class="pointer" *ngIf="giangVien.trangThai" (click)="changeStatus(giangVien.id)">{{
          langData[langCode].KICH_HOAT }}</nz-tag>
        <nz-tag nzColor="error" class="pointer" *ngIf="!giangVien.trangThai" (click)="changeStatus(giangVien.id)">{{
          langData[langCode].KHONG_KICH_HOAT }}</nz-tag>
      </td>
      <td nzAlign="center">
        <button nz-button nzType="primary" type="button" nzSize="small" (click)="openModal(formGiangVien, giangVien)">
          <i class="fas fa-edit"></i>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>

<!-- <nz-table #table class="table-border table-cell-middle table-margin-bot" nzSize="middle" nzShowPagination="false" [nzScroll]="{x: '500px'}">
    <thead>
      <tr>
        <th nzAlign="center" nzWidth="50px">{{langData[langCode].SO_THU_TU}}</th>
        <th nzAlign="center" nzWidth="150px">{{langData[langCode].HO_VA_TEN}}</th>
        <th nzAlign="center" nzWidth="100px">{{langData[langCode].EMAIL}}</th>
        <th nzAlign="center" nzWidth="100px">{{langData[langCode].TRANG_THAI}}</th>
        <th nzAlign="center" nzWidth="100px"><i class="fas fa-cog"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td nzAlign="center"> 1 </td>
        <td nzAlign="center"> test </td>
        <td nzAlign="center"> test@gmail.com </td>
        <td nzAlign="center">
          <nz-tag nzColor="success" class="pointer">{{langData[langCode].KICH_HOAT}}</nz-tag>
          <nz-tag nzColor="error" class="pointer">{{langData[langCode].KHONG_KICH_HOAT}}</nz-tag>
        </td>
        <td nzAlign="center">
          <button nz-button nzType="primary" type="button" nzSize="small"><i class="fas fa-edit"></i></button>
        </td>
      </tr>
    </tbody>
  </nz-table> -->

<app-table-paginate [pageConfig]="listGiangVien" (pageChange)="pageChange($event)"></app-table-paginate>

<ng-template #formGiangVien>
  <app-form-lectures [modalData]="modalData" (closeModal)="closeModal($event)"></app-form-lectures>
</ng-template>
