<form [formGroup]="form" (keydown.enter)="$event.preventDefault()">

  <div nz-row class="pad-bot-form">
    <div nz-col nzSpan="24">
      <label>{{langData[langCode].MA_LINH_VUC}}</label><label class="field-required">*</label>
    </div>
    <div nz-col nzSpan="24" [ngClass]="displayFieldCss(form, 'maLinhVuc')">
      <input nz-input formControlName="maLinhVuc">
      <app-field-error-display [displayError]="isFieldValid(form, 'maLinhVuc')"
        [errorMsg]="langData[langCode].KHONG_DUOC_DE_TRONG">
      </app-field-error-display>
    </div>
  </div>

  <div nz-row class="pad-bot-form">
    <div nz-col nzSpan="24">
      <label>{{langData[langCode].TEN_LINH_VUC_VN}}</label><label class="field-required">*</label>
    </div>
    <div nz-col nzSpan="24" [ngClass]="displayFieldCss(form, 'tenLinhVuc')">
      <input nz-input formControlName="tenLinhVuc">
      <app-field-error-display [displayError]="isFieldValid(form, 'tenLinhVuc')"
        [errorMsg]="langData[langCode].KHONG_DUOC_DE_TRONG">
      </app-field-error-display>
    </div>
  </div>

  <!-- <div nz-row class="pad-bot-form">
    <div nz-col nzSpan="24">
      <label>{{langData[langCode].TEN_LINH_VUC_EN}}</label><label class="field-required">*</label>
    </div>
    <div nz-col nzSpan="24" [ngClass]="displayFieldCss(form, 'tenLinhVucEn')">
      <input nz-input formControlName="tenLinhVucEn">
      <app-field-error-display [displayError]="isFieldValid(form, 'tenLinhVucEn')"
        [errorMsg]="langData[langCode].KHONG_DUOC_DE_TRONG">
      </app-field-error-display>
    </div>
  </div> -->

  <div nz-row class="ant-modal-footer fk-modal-footer">
    <div nz-col nzSpan="24" class="ali-right">
      <div class="pad-left-form-control" style="display: inline-block;">
        <button nz-button nzType="default" nzSize="default" type="button" class="nz-btn-red" (click)="onCancel()"><i
            class="fas fa-times mr-right-5"></i>{{langData[langCode].HUY}}</button>
      </div>
      <div class="pad-left-form-control" style="display: inline-block;">
        <button nz-button nzType="primary" nzSize="default" type="button" (click)="onSubmit()"><i
            class="fas fa-save mr-right-5"></i>{{langData[langCode].LUU}}</button>
      </div>
    </div>
  </div>
</form>
