*:not(i) {
  font-family: "Raleway" !important;
  font-weight: 600;
}

.email-txt {
  text-transform: none;
}

.logo-bottom-txt {
  width: 75%;
  font-size: 12px;
  text-align: left;
  margin-top: 7px;
}

.logo-bottom {
  width: 100%;
  margin-top: 5px;
}
