<form [formGroup]="form" (keydown.enter)="$event.preventDefault()">
  <div nz-row class="pad-bot-form">
    <div nz-col nzSpan="24">
      <label>{{langData[langCode].STT}}</label><label class="field-required">*</label>
    </div>
    <div nz-col nzSpan="24" [ngClass]="displayFieldCss(form, 'thuTu')">
      <input type="number" nz-input formControlName="thuTu">
      <app-field-error-display [displayError]="isFieldValid(form, 'thuTu')"
        [errorMsg]="langData[langCode].KHONG_DUOC_DE_TRONG">
      </app-field-error-display>
    </div>
  </div>

  <div nz-row class="pad-bot-form">
    <div nz-col nzSpan="24">
      <label>{{langData[langCode].MA_NGANH}}</label><label class="field-required">*</label>
    </div>
    <div nz-col nzSpan="24" [ngClass]="displayFieldCss(form, 'maNganh')">
      <input nz-input formControlName="maNganh">
      <app-field-error-display [displayError]="isFieldValid(form, 'maNganh')"
        [errorMsg]="langData[langCode].KHONG_DUOC_DE_TRONG">
      </app-field-error-display>
    </div>
  </div>
  <div nz-row class="pad-bot-form">
    <div nz-col nzSpan="24">
      <label>{{langData[langCode].TEN_NGANH}}</label><label class="field-required">*</label>
    </div>
    <div nz-col nzSpan="24" [ngClass]="displayFieldCss(form, 'tenNganh')">
      <input nz-input formControlName="tenNganh">
      <app-field-error-display [displayError]="isFieldValid(form, 'tenNganh')"
        [errorMsg]="langData[langCode].KHONG_DUOC_DE_TRONG">
      </app-field-error-display>
    </div>
  </div>
  <div nz-row class="pad-bot-form">
    <div nz-col nzSpan="24">
      <label>{{langData[langCode].KHOA}}</label><label class="field-required">*</label>
    </div>
    <div nz-col nzSpan="24" [ngClass]="displayFieldCss(form, 'khoa')">
      <nz-select class="w-100" nzShowSearch [nzPlaceHolder]="langData[langCode].CHON_KHOA"
        (nzOnSearch)="searchKhoaValueChanged.next($any($event))" nzAllowClear formControlName="khoa">
        <nz-option *ngFor="let khoa of listKhoa.data" [nzLabel]="khoa.tenKhoa" [nzValue]="khoa.id">
        </nz-option>

      </nz-select>
      <app-field-error-display [displayError]="isFieldValid(form, 'khoa')"
        [errorMsg]="langData[langCode].KHONG_DUOC_DE_TRONG">
      </app-field-error-display>
    </div>
  </div>
  <div nz-row class="ant-modal-footer fk-modal-footer">
    <div nz-col nzSpan="24" class="ali-right">
      <div class="pad-left-form-control" style="display: inline-block;">
        <button nz-button nzType="default" nzSize="default" type="button" class="nz-btn-red" (click)="onCancel()"><i
            class="fas fa-times mr-right-5"></i>{{langData[langCode].HUY}}</button>
      </div>
      <div class="pad-left-form-control" style="display: inline-block;">
        <button nz-button nzType="primary" nzSize="default" type="button" (click)="onSubmit()"><i
            class="fas fa-save mr-right-5"></i>{{langData[langCode].LUU}}</button>
      </div>
    </div>
  </div>
</form>
