<app-breadcrumb [breadcrumb]="breadcrumbObj"></app-breadcrumb>
<div nz-row>
  <div nz-col nzSpan="12">
    <span class="text-title">{{breadcrumbObj.heading}}</span>
  </div>
  <div nz-col nzSpan="12" class="text-right">
    <nz-input-group nzSearch [nzAddOnAfter]="searchIcon" class="search-box mr-right-5">
      <input type="text" nz-input [placeholder]="langData[langCode].TIM_KIEM" [(ngModel)]="searchValue"
        (keyup.enter)="getDataPaging()" (keyup)="getDataPaging()" />
      <ng-template #searchIcon>
        <button nz-button nzType="primary" nzSearch (click)="getDataPaging()"><i class="fas fa-search"></i></button>
      </ng-template>
    </nz-input-group>
    <button nz-button class="nz-btn-green" (click)="openModal(formModal)">
      <i class="fas fa-plus mr-right-5"></i>{{langData[langCode].THEM}}</button>
  </div>
</div>
<hr>
<nz-table #table class="table-border table-cell-middle table-margin-bot" nzSize="middle" nzShowPagination="false"
  [nzData]="listKhoa.data" [nzScroll]="{x: '450px'}">
  <thead>
    <tr>
      <th nzAlign="center" nzWidth="50px">{{langData[langCode].SO_THU_TU}}</th>
      <th nzAlign="center" nzWidth="50px">{{langData[langCode].MA_KHOA}}</th>
      <th nzAlign="center" nzWidth="150px">{{ langCode === 'vi'? langData[langCode].TEN_KHOA :
        langData[langCode].TEN_KHOA_EN}}</th>
      <th nzAlign="center" nzWidth="150px">{{langData[langCode].TRANG_THAI}}</th>

      <th nzAlign="center" nzWidth="100px"><i class="fas fa-cog"></i></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let khoa of listKhoa.data; let i = index">
      <td nzAlign="center">
        {{ i + 1 + (listKhoa.currentPage-1) * listKhoa.limit}}
      </td>

      <td nzAlign="center">
        {{ khoa.maKhoa }}
      </td>
      <td nzAlign="center">
        {{ langCode === 'vi' ? khoa.tenKhoa : khoa.tenKhoaEn }}
      </td>
      <td nzAlign="center">
        <nz-tag nzColor="success" class="pointer" *ngIf="khoa.trangThai" (click)="changeStatus(khoa.id)">
          {{langData[langCode].KICH_HOAT}}</nz-tag>
        <nz-tag nzColor="error" class="pointer" *ngIf="!khoa.trangThai" (click)="changeStatus(khoa.id)">
          {{langData[langCode].KHONG_KICH_HOAT}}</nz-tag>
      </td>
      <td nzAlign="center">
        <button nz-button nzType="primary" type="button" nzSize="small" (click)="openModal(formModal, khoa)"><i
            class="fas fa-edit"></i></button>
      </td>
    </tr>
  </tbody>
</nz-table>
<app-table-paginate [pageConfig]="listKhoa" (pageChange)="pageChange($event)"></app-table-paginate>

<ng-template #formModal>
  <app-form-faculties [modalData]="modalData" (closeModal)="closeModal($event)"></app-form-faculties>
</ng-template>
