.layout {
  min-height: 100vh;
}

.bg-layout {
  background: url('../../../../assets/img/bg/bg-pattern.png');
}

nz-header {
  background: #fff;
  padding: 0 20px;
}

nz-content {
  padding: 24px 16px 0;
}

.inner-content {
  padding: 16px;
  background: #fff;
  min-height: 300px;
}

nz-footer {
  text-align: center;
  padding: 8px 50px;
}

.dark-header {
  background-color: #2c3192;
  color: white;
}

.long-header {
  height: 300px;
  padding-left: 40px;
}

.top-box-content {
  margin-top: -230px;
}

@media only screen and (min-width: 1200px) {
  .long-header {
    padding-left: 20px;
  }
}

// {
//   xs: '575px',
//   sm: '576px',
//   md: '768px',
//   lg: '992px',
//   xl: '1200px', // current sider nzBreakpoint
//   xxl: '1600px'
// }
