<form [formGroup]="form" (keydown.enter)="$event.preventDefault()">

  <div nz-row class="pad-bot-form">
    <div nz-col nzSpan="24">
      <label>{{langData[langCode].TITLE}}</label><label class="field-required">*</label>
    </div>
    <div nz-col nzSpan="24" [ngClass]="displayFieldCss(form, 'tieuDe')">
      <input nz-input type="text" class="form-control" [placeholder]="langData[langCode].ENTER_TITLE"
        formControlName="tieuDe">
      <app-field-error-display [displayError]="isFieldValid(form, 'tieuDe')"
        [errorMsg]="langData[langCode].KHONG_DUOC_DE_TRONG">
      </app-field-error-display>
    </div>
  </div>

  <div nz-row class="pad-bot-form">
    <div nz-col nzSpan="24">
      <label>{{langData[langCode].FILE_MANUALS}}</label><label class="field-required">*</label>
    </div>
    <div nz-col nzSpan="24" [ngClass]="displayFieldCss(form, 'fileHuongDan')">
      <app-upload-file class="w-100" [isUploadMultiFile]="false" [acceptFilesExtension]="'.pdf'"
        [subFolderOnServer]="'file-huong-dan'"
        [listFilesPatch]="extractFileFromListId([form.get('fileHuongDan').value].flat())"
        (returnedListId)="setIdFileToForm($event, 'fileHuongDan', form)">
      </app-upload-file>
      <app-field-error-display [displayError]="isFieldValid(form, 'fileHuongDan')"
        [errorMsg]="langData[langCode].KHONG_DUOC_DE_TRONG">
      </app-field-error-display>
    </div>
  </div>

  <div nz-row class="ant-modal-footer fk-modal-footer">
    <div nz-col nzSpan="24" class="ali-right">
      <div class="pad-left-form-control" style="display: inline-block;">
        <button nz-button nzType="default" nzSize="default" type="button" class="nz-btn-red" (click)="onCancel()"><i
            class="fas fa-times mr-right-5"></i>{{langData[langCode].HUY}}</button>
      </div>
      <div class="pad-left-form-control" style="display: inline-block;">
        <button nz-button nzType="primary" nzSize="default" type="button" (click)="onSubmit()"><i
            class="fas fa-save mr-right-5"></i>{{langData[langCode].LUU}}</button>
      </div>
    </div>
  </div>
</form>
