<h4>{{langData[langCode].XEM_TRUOC}} {{viewer === 'imageViewer' ? langData[langCode].ANH : ''}}</h4>
<div class="modal-body">
  <div class="container-view-file">
    <div class="toolbar" *ngIf="fileId">
      <!-- <div class="toolbar-left">
        <button type="button" class="btn btn-default btn-animation" (click)="hide()">
          <i class="fas fa-arrow-left"></i>
        </button>
      </div> -->
      <!-- <div class="toolbar-right">
        <button type="button" class="btn btn-default btn-animation">
          <i class="fas fa-cloud-download-alt"></i>
        </button>
        <button type="button" class="btn btn-default btn-animation">
          <i class="fas fa-ellipsis-v"></i>
        </button>
      </div> -->
    </div>
    <div class="vertical-center">
      <div class="container">
        <div class="file-container">
          <ng-container [ngSwitch]="viewer">
            <div *ngSwitchCase="'pdfViewer'" class="pdf-container">
              <ngx-extended-pdf-viewer [src]="pdfBlob" [showOpenFileButton]="false" [useBrowserLocale]="true"
                height="90vh"></ngx-extended-pdf-viewer>
            </div>
            <div *ngSwitchCase="'officeViewer'" class="office-container">
              <!-- ngx-doc-viewer -->
            </div>
            <div *ngSwitchCase="'imageViewer'" class="image-container">
              <img [src]="safeResourceUrl" (click)="rotateImage()" id="image" (load)="getImgSize()">
            </div>
            <div *ngSwitchCase="''" class="wait-container">
              <h5>{{langData[langCode].DANG_TAI}}</h5>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
