<div class="pull-left">
  <b class="text-uppercase hide-xs">{{langData[langCode].HE_THONG_QUAN_TRI}}</b>
</div>
<div class="pull-right">
  <button *ngIf="langCode === 'vi'" nz-button nzType="default" type="button" nzSize="small"
    class="language-btn lang-vi" (click)="switchLang('en')"><span>........</span><span>{{langCode}}</span></button>
  <button *ngIf="langCode === 'en'" nz-button nzType="default" type="button" nzSize="small"
    class="language-btn lang-en" (click)="switchLang('vi')"
    nzPopconfirmPlacement="bottomRight"><span>........</span><span>{{langCode}}</span></button>
  <img [attr.src]="avatarOfUser ? avatarOfUser : 'assets/img/other/user.png'" onerror="this.src='assets/img/other/user.png'" class="avatar pointer" nz-dropdown [nzDropdownMenu]="menuUser">
  <nz-dropdown-menu #menuUser="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item [routerLink]="['/profile']"><i class="fas fa-user mr-right-5"></i>{{langData[langCode].THONG_TIN_CA_NHAN}}</li>
      <li nz-menu-divider></li>
      <li nz-menu-item class="text-red" (click)="doLogout()"><i class="fas fa-power-off mr-right-5"></i>{{langData[langCode].DANG_XUAT}}</li>
    </ul>
  </nz-dropdown-menu>
</div>
