<div class="logo text-white text-center logo-text-font logo-front">
  <img class="logo-img" src="assets/img/logo/ute-logo-white.png"><b>HCMUTE</b>
  <div class="avatar-user">
    <img class="avatar-img" [attr.src]="avatarOfUser ? avatarOfUser : 'assets/img/other/user.png'" onerror="this.src='assets/img/other/user.png'"><br>
    <span class="avatar-name">{{nameOfUser}}</span>
  </div>
</div>
<ul nz-menu nzTheme="light" nzMode="inline" class="sub-menu">
  <ng-container *ngFor="let menu of listMenu">
    <li nz-submenu *ngIf="menu.isHaveChild" [nzTitle]="menu.title" [nzIcon]="menu.icon"
    nzTooltipPlacement="right" nz-tooltip [nzTooltipTitle]="menu.title">
      <ul>
        <li nz-menu-item *ngFor="let subMenu of menu.listChild" [routerLink]="subMenu.routerLink"
        nzTooltipPlacement="right" nz-tooltip [nzTooltipTitle]="subMenu.title">
          <i [ngClass]="'mr-right-10 ' + subMenu.icon"></i>
          <span>{{subMenu.title}}</span>
        </li>
      </ul>
    </li>
    <li nz-menu-item class="menu-alone" *ngIf="!menu.isHaveChild" [routerLink]="menu.routerLink"
    nzTooltipPlacement="right" nz-tooltip [nzTooltipTitle]="menu.title">
      <i [ngClass]="'mr-right-5 ' + menu.icon"></i>
      <span>{{menu.title}}</span>
    </li>
  </ng-container>

</ul>
