<form [formGroup]="form" (keydown.enter)="$event.preventDefault()">

  <div nz-row class="pad-bot-form">
    <div nz-col nzSpan="12">
      <!-- Ten -->
      <div nz-row class="pad-bot-form">
        <div nz-col nzSpan="24">
          <label>{{ langData[langCode].TEN_CHUYEN_THAM_QUAN }}</label><label class="field-required">*</label>
        </div>
        <div nz-col nzSpan="24" [ngClass]="displayFieldCss(form, 'tenChuyenThamQuan')">
          <input nz-input formControlName="tenChuyenThamQuan">
          <app-field-error-display [displayError]="isFieldValid(form, 'tenChuyenThamQuan')"
            [errorMsg]="langData[langCode].KHONG_DUOC_DE_TRONG">
          </app-field-error-display>
        </div>
      </div>
      <!-- Noi dung-->
      <div nz-row class="pad-bot-form">
        <div nz-col nzSpan="24">
          <label>{{ langData[langCode].NOI_DUNG_THAM_QUAN}}</label><label class="field-required">*</label>
        </div>
        <div nz-col nzSpan="24" [ngClass]="displayFieldCss(form, 'noiDungThamQuan')">
          <textarea nz-input formControlName="noiDungThamQuan" [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
          <app-field-error-display [displayError]="isFieldValid(form, 'noiDungThamQuan')"
            [errorMsg]="langData[langCode].KHONG_DUOC_DE_TRONG">
          </app-field-error-display>
        </div>
      </div>
      <!-- Dia Diem -->
      <div nz-row class="pad-bot-form">
        <div nz-col nzSpan="24">
          <label>{{ langData[langCode].DIA_DIEM_KHOI_HANH }}</label><label class="field-required">*</label>
        </div>
        <div nz-col nzSpan="24" [ngClass]="displayFieldCss(form, 'diaDiemKhoiHanh')">
          <nz-select class="w-100" nzShowSearch nzAllowClear (nzOnSearch)="searchDiaDiemChange.next($event)"
            [nzPlaceHolder]="langData[langCode].CHON_DIA_DIEM" formControlName="diaDiemKhoiHanh">
            <nz-option *ngFor="let data of listDiaDiem" [nzLabel]="data.tenDiaDiem" [nzValue]="data.id">
            </nz-option>
          </nz-select>
          <app-field-error-display [displayError]="isFieldValid(form, 'diaDiemKhoiHanh')"
            [errorMsg]="langData[langCode].KHONG_DUOC_DE_TRONG">
          </app-field-error-display>
        </div>
      </div>

      <!-- Phu Cap -->
      <div nz-row class="pad-bot-form">
        <div nz-col nzSpan="24">
          <label>{{ langData[langCode].PHU_CAP_CONG_TAC_VIEN }}</label><label class="field-required">*</label>
        </div>
        <div nz-col nzSpan="24" [ngClass]="displayFieldCss(form, 'phuCapCongTacVien')">
          <input nz-input formControlName="phuCapCongTacVien" />
          <app-field-error-display [displayError]="isFieldValid(form, 'phuCapCongTacVien')"
            [errorMsg]="langData[langCode].KHONG_DUOC_DE_TRONG">
          </app-field-error-display>
        </div>
      </div>

      <!-- Kinh phi -->
      <div nz-row class="pad-bot-form">
        <div nz-col nzSpan="24">
          <label>{{ langData[langCode].KINH_PHI }}</label><label class="field-required">*</label>
        </div>
        <div nz-col nzSpan="24" [ngClass]="displayFieldCss(form, 'kinhPhi')">
          <input nz-input formControlName="kinhPhi" />
          <app-field-error-display [displayError]="isFieldValid(form, 'kinhPhi')"
            [errorMsg]="langData[langCode].KHONG_DUOC_DE_TRONG">
          </app-field-error-display>
        </div>
      </div>

      <!-- File Xac Nhan -->
      <div nz-row class="pad-bot-form">
        <div nz-col nzSpan="24">
          <label>{{langData[langCode].FILE_XAC_NHAN_BAN_GIAM_HIEU}}</label>
        </div>
        <div nz-col nzSpan="24" [ngClass]="displayFieldCss(form, 'fileXacNhanDuyetTuBanGiamHieu')">
          <app-upload-file class="w-100" [isUploadMultiFile]="false" [acceptFilesExtension]="'.pdf'"
            [subFolderOnServer]="'file-xac-nhan-tu-ban-giam-hieu'"
            [listFilesPatch]="extractFileFromListId([form.get('fileXacNhanDuyetTuBanGiamHieu').value].flat())"
            (returnedListId)="setIdFileToForm($event, 'fileXacNhanDuyetTuBanGiamHieu', form)">
          </app-upload-file>
          <app-field-error-display [displayError]="isFieldValid(form, 'fileXacNhanDuyetTuBanGiamHieu')"
            [errorMsg]="langData[langCode].KHONG_DUOC_DE_TRONG">
          </app-field-error-display>
        </div>
      </div>
    </div>
    <div nz-col nzOffset="1" nzSpan="11">


      <!-- Giang vien dang ky -->
      <div nz-row class="pad-bot-form align-items-center">
        <div nz-col nzSpan="24">
          <label>{{ langData[langCode].GIANG_VIEN_DANG_KY }}</label><label class="field-required">*</label>
        </div>
        <div nz-col nzSpan="24" [ngClass]="displayFieldCss(form, 'giangVienDangKy')">
          <nz-select nzShowSearch nzServerSearch nzAllowClear [nzPlaceHolder]="langData[langCode].CHON_GIANG_VIEN"
            (nzOnSearch)="searchGiangVienChange.next($event)" formControlName="giangVienDangKy" class="d-block">
            <nz-option *ngFor='let giangVien of listGiangVien' [nzLabel]="giangVien.hoTen" [nzValue]="giangVien.id">
            </nz-option>
          </nz-select>
        </div>
        <div nz-col>
          <app-field-error-display [displayError]="isFieldValid(form, 'giangVienDangKy')"
            [errorMsg]="langData[langCode].KHONG_DUOC_DE_TRONG">
          </app-field-error-display>
        </div>
      </div>

      <!-- DotThamQuan -->
      <div nz-row class="pad-bot-form align-items-center" *ngIf="isEdit">
        <div nz-col nzSpan="24">
          <label>{{ langData[langCode].DOT_THAM_QUAN }}</label><label class="field-required">*</label>
        </div>
        <div nz-col nzSpan="24" [ngClass]="displayFieldCss(form, 'dotThamQuan')">
          <nz-select nzShowSearch nzAllowClear [nzPlaceHolder]="langData[langCode].CHON_DOT_THAM_QUAN"
            formControlName="dotThamQuan" class="d-block">
            <nz-option *ngFor="let dotThamQuan of listDotThamQuan.data" [nzLabel]="dotThamQuan?.tenDotThamQuan"
              [nzValue]="dotThamQuan?.id">
            </nz-option>
          </nz-select>
        </div>
        <div nz-col>
          <app-field-error-display [displayError]="isFieldValid(form, 'dotThamQuan')"
            [errorMsg]="langData[langCode].KHONG_DUOC_DE_TRONG">
          </app-field-error-display>
        </div>
      </div>

      <!-- Doanh nghiep -->
      <div nz-row class="pad-bot-form align-items-center">
        <div nz-col nzSpan="24">
          <label>{{ langData[langCode].DOANH_NGHIEP }}</label><label class="field-required">*</label>
        </div>
        <div nz-col nzSpan="15" [ngClass]="displayFieldCss(form, 'doanhNghiep')">
          <nz-select nzShowSearch nzServerSearch nzAllowClear [nzPlaceHolder]="langData[langCode].CHON_DOANH_NGHIEP"
            (nzOnSearch)="searchDoanhNghiepChange.next($event)" formControlName="doanhNghiep" class="d-block">
            <nz-option *ngFor='let option of listDoanhNghiep' [nzLabel]="option.congTy" [nzValue]="option.id">
            </nz-option>
          </nz-select>
        </div>
        <div nz-col nzOffset="1" nzSpan="8" class="text-right">
          <button nz-button class="nz-btn-green" (click)="openModal(formModal)"
            [disabled]="checkFilterData('HOAN_TAT')">
            <i class="fas fa-plus mr-right-5"></i>{{langData[langCode].THEM}}</button>
        </div>
        <div nz-col>
          <app-field-error-display [displayError]="isFieldValid(form, 'doanhNghiep')"
            [errorMsg]="langData[langCode].KHONG_DUOC_DE_TRONG">
          </app-field-error-display>
        </div>
      </div>


      <!-- PhuongTien -->
      <div nz-row class="pad-bot-form align-items-center">
        <div nz-col nzSpan="24">
          <label>{{ langData[langCode].PHUONG_TIEN }}</label><label class="field-required">*</label>
        </div>
        <div nz-col nzSpan="24" [ngClass]="displayFieldCss(form, 'phuongTien')">
          <nz-select nzMode="multiple" nzShowSearch nzAllowClear [nzPlaceHolder]="langData[langCode].CHON_PHUONG_TIEN"
            (nzOnSearch)="searchPhuongTienChange.next($event)" formControlName="phuongTien" class="d-block">
            <nz-option *ngFor="let option of listPhuongTien" [nzLabel]="option.bienSo" [nzValue]="option.id">
            </nz-option>
          </nz-select>
        </div>
        <div nz-col>
          <app-field-error-display [displayError]="isFieldValid(form, 'phuongTien')"
            [errorMsg]="langData[langCode].KHONG_DUOC_DE_TRONG">
          </app-field-error-display>
        </div>
      </div>
      <!-- Thoi gian khoi hanh -->
      <div nz-row class="pad-bot-form align-items-center">
        <div nz-col nzSpan="24">
          <label>{{ langData[langCode].THOI_GIAN_KHOI_HANH }}</label><label class="field-required">*</label>
        </div>
        <div nz-col nzSpan="24" [ngClass]="displayFieldCss(form, 'thoiGianKhoiHanh')">
          <nz-date-picker [nzShowTime]="{ nzFormat: 'HH:mm' }" nzFormat="dd-MM-yyyy HH:mm"
            formControlName="thoiGianKhoiHanh" class="d-block">
          </nz-date-picker>
        </div>
        <div nz-col>
          <app-field-error-display [displayError]="isFieldValid(form, 'thoiGianKhoiHanh')"
            [errorMsg]="langData[langCode].KHONG_DUOC_DE_TRONG">
          </app-field-error-display>
        </div>
      </div>

      <!-- Thoi gian bat dau -->
      <div nz-row class="pad-bot-form align-items-center">
        <div nz-col nzSpan="24">
          <label>{{ langData[langCode].THOI_GIAN_BAT_DAU_THAM_QUAN }}</label><label class="field-required">*</label>
        </div>
        <div nz-col nzSpan="24" [ngClass]="displayFieldCss(form, 'thoiGianBatDauThamQuan')">
          <nz-date-picker [nzShowTime]="{ nzFormat: 'HH:mm' }" nzFormat="dd-MM-yyyy HH:mm"
            formControlName="thoiGianBatDauThamQuan" class="d-block">
          </nz-date-picker>
        </div>
        <div nz-col>
          <app-field-error-display [displayError]="isFieldValid(form, 'thoiGianBatDauThamQuan')"
            [errorMsg]="langData[langCode].KHONG_DUOC_DE_TRONG">
          </app-field-error-display>
        </div>
      </div>

      <!-- Thoi gian ket thuc -->
      <div nz-row class="pad-bot-form align-items-center">
        <div nz-col nzSpan="24">
          <label>{{ langData[langCode].THOI_GIAN_KET_THUC_THAM_QUAN }}</label><label class="field-required">*</label>
        </div>
        <div nz-col nzSpan="24" [ngClass]="displayFieldCss(form, 'thoiGianKetThucThamQuan')">
          <nz-date-picker [nzShowTime]="{ nzFormat: 'HH:mm' }" nzFormat="dd-MM-yyyy HH:mm"
            formControlName="thoiGianKetThucThamQuan" class="d-block">
          </nz-date-picker>
        </div>
        <div nz-col>
          <app-field-error-display [displayError]="isFieldValid(form, 'thoiGianKetThucThamQuan')"
            [errorMsg]="langData[langCode].KHONG_DUOC_DE_TRONG">
          </app-field-error-display>
        </div>
      </div>

      <!-- Thue xe -->
      <div nz-row class="pad-bot-form">
        <div nz-col nzSpan="24">
          <label>{{ langData[langCode].THUE_XE_NGOAI_TRUONG }}</label><label class="field-required">*</label>
        </div>
        <div nz-col nzSpan="24" [ngClass]="displayFieldCss(form, 'thueXeNgoaiTruong')">
          <nz-radio-group formControlName="thueXeNgoaiTruong" class="d-flex justify-content-around">
            <label nz-radio [nzValue]="true">Có</label>
            <label nz-radio [nzValue]="false">Không</label>
          </nz-radio-group>
        </div>
        <div nz-col>
          <app-field-error-display [displayError]="isFieldValid(form, 'thueXeNgoaiTruong')"
            [errorMsg]="langData[langCode].KHONG_DUOC_DE_TRONG">
          </app-field-error-display>
        </div>
      </div>
    </div>
  </div>
  <div nz-row class="ant-modal-footer fk-modal-footer">
    <div nz-col nzSpan="24" class="ali-right">
      <div class="pad-left-form-control" style="display: inline-block">
        <button nz-button nzType="default" nzSize="default" type="button" class="nz-btn-red" (click)="onCancel()">
          <i class="fas fa-times mr-right-5"></i>{{ langData[langCode].DONG }}
        </button>
      </div>
      <div class="pad-left-form-control" style="display: inline-block"
        *ngIf="!(checkFilterData('HUY'))  &&  !(checkFilterData('HOAN_TAT')) ">
        <button nz-button nzType="primary" nzSize="default" type="button" (click)="onSave()">
          <i class="fas fa-save mr-right-5"></i>{{ langData[langCode].LUU }}
        </button>
      </div>
      <div class="pad-left-form-control" style="display: inline-block"
        *ngIf="!(checkFilterData('DANG_XU_LY')) && !(checkFilterData('SAN_SANG')) && !(checkFilterData('HOAN_TAT')) || !isEdit">
        <button nz-button nzType="primary" nzSize="default" type="button" (click)="onLuuDuyet()" class="nz-btn-green">
          <i class="fas fa-cloud mr-right-5"></i>{{ langData[langCode].LUU_VA_DUYET }}
        </button>
      </div>
      <div class="pad-left-form-control" style="display: inline-block" *ngIf=" (checkFilterData('SAN_SANG')) && isEdit">
        <button nz-button nzSize="default" type="button" class="nz-btn-green"
          (click)="openModalSaoLuu(formModalSaoLuu)">
          <i class="fas fa-share-square mr-right-5"></i>{{ langData[langCode].SAO_LUU }}
        </button>
      </div>
      <div class="pad-left-form-control" style="display: inline-block"
        *ngIf="((checkFilterData('DANG_XU_LY')) || (checkFilterData('SAN_SANG'))) && isEdit">
        <button nz-button nzType="primary" nzSize="default" type="button" (click)="openModalLyDo(formModalLydo)"
          class="nz-btn-red">
          <i class="fas fa-ban mr-right-5"></i>{{ langData[langCode].HUY_CHUYEN }}
        </button>
      </div>

      <div class="pad-left-form-control" style="display: inline-block"
        *ngIf=" (!(checkFilterData('HUY')) &&  !(checkFilterData('DANG_XU_LY')) && !(checkFilterData('SAN_SANG')) && !(checkFilterData('HOAN_TAT'))) && isEdit">
        <button nz-button nzSize="default" type="button" class="nz-btn-red" (click)="openModalLyDo(formModalLydo)">
          <i class="fas fa-minus-circle mr-right-5"></i>{{ langData[langCode].KHONG_DUYET }}
        </button>
      </div>
    </div>

  </div>
</form>
<ng-template #formModal>
  <app-form-business [modalData]="modalDataDoanhNghiep" (closeModal)="closeModalDoanhNghiep()">
  </app-form-business>
</ng-template>

<ng-template #formModalLydo>
  <form [formGroup]="form" (keydown.enter)="$event.preventDefault()">
    <div nz-row class="pad-bot-form">
      <div nz-col nzSpan="24">
        <label>{{ langData[langCode].LY_DO_KHONG_DUYET}}</label><label class="field-required">*</label>
      </div>
      <div nz-col nzSpan="24" [ngClass]="displayFieldCss(form, 'lyDoKhongDuyet')">
        <input nz-input formControlName="lyDoKhongDuyet" required />
        <app-field-error-display [displayError]="isFieldValid(form, 'lyDoKhongDuyet')"
          [errorMsg]="langData[langCode].KHONG_DUOC_DE_TRONG">
        </app-field-error-display>
      </div>
    </div>
    <div nz-row class="ant-modal-footer fk-modal-footer">
      <div nz-col nzSpan="24" class="ali-right">
        <div class="pad-left-form-control" style="display: inline-block">
          <button nz-button nzType="default" nzSize="default" type="button" class="nz-btn-red" (click)="onCancel()">
            <i class="fas fa-times mr-right-5"></i>{{ langData[langCode].HUY }}
          </button>
        </div>
        <div class="pad-left-form-control" style="display: inline-block">
          <button nz-button nzType="primary" nzSize="default" type="button" (click)="onKhongDuyet()">
            <i class="fas fa-save mr-right-5"></i>{{ langData[langCode].LUU }}
          </button>
        </div>
      </div>
    </div>
  </form>
</ng-template>


<ng-template #formModalSaoLuu>
  <form [formGroup]="form" (keydown.enter)="$event.preventDefault()">
    <div nz-row class="pad-bot-form">
      <div nz-col nzSpan="24">
        <label>{{langData[langCode].LINK_FILE}}</label>
      </div>
      <div nz-col nzSpan="24" [ngClass]="displayFieldCss(form, 'duongDan')">
        <input type="text" nz-input formControlName="duongDan">
        <app-field-error-display [displayError]="isFieldValid(form, 'duongDan')"
          [errorMsg]="langData[langCode].KHONG_DUOC_DE_TRONG">
        </app-field-error-display>
      </div>
    </div>
    <div nz-row class="pad-bot-form">
      <div nz-col nzSpan="24">
        <label>{{langData[langCode].FILE_KE_HOACH}}</label>
      </div>
      <div nz-col nzSpan="24" [ngClass]="displayFieldCss(form, 'fileScanKeHoach')">
        <app-upload-file class="w-100" [isUploadMultiFile]="false" [acceptFilesExtension]="'.pdf'"
          [subFolderOnServer]="'file-xac-nhan-tu-ban-giam-hieu'"
          [listFilesPatch]="extractFileFromListId([form.get('fileScanKeHoach').value].flat())"
          (returnedListId)="setIdFileToForm($event, 'fileScanKeHoach', form)">
        </app-upload-file>
        <app-field-error-display [displayError]="isFieldValid(form, 'fileScanKeHoach')"
          [errorMsg]="langData[langCode].KHONG_DUOC_DE_TRONG">
        </app-field-error-display>
      </div>
    </div>
    <div nz-row class="pad-bot-form">
      <div nz-col nzSpan="24">
        <label>{{langData[langCode].FILE_XAC_NHAN_DOANH_NGHIEP}}</label>
      </div>
      <div nz-col nzSpan="24" [ngClass]="displayFieldCss(form, 'fileScanGiayXacNhanDoanhNghiep')">
        <app-upload-file class="w-100" [isUploadMultiFile]="false" [acceptFilesExtension]="'.pdf'"
          [subFolderOnServer]="'file-xac-nhan-tu-ban-giam-hieu'"
          [listFilesPatch]="extractFileFromListId([form.get('fileScanGiayXacNhanDoanhNghiep').value].flat())"
          (returnedListId)="setIdFileToForm($event, 'fileScanGiayXacNhanDoanhNghiep', form)">
        </app-upload-file>
        <app-field-error-display [displayError]="isFieldValid(form, 'fileScanGiayXacNhanDoanhNghiep')"
          [errorMsg]="langData[langCode].KHONG_DUOC_DE_TRONG">
        </app-field-error-display>
      </div>
    </div>
    <div nz-row class="ant-modal-footer fk-modal-footer">
      <div nz-col nzSpan="24" class="ali-right">
        <div class="pad-left-form-control" style="display: inline-block">
          <button nz-button nzType="default" nzSize="default" type="button" class="nz-btn-red" (click)="onCancel()">
            <i class="fas fa-times mr-right-5"></i>{{ langData[langCode].HUY }}
          </button>
        </div>
        <div class="pad-left-form-control" style="display: inline-block">
          <button nz-button nzType="primary" nzSize="default" type="button" (click)="onLuuTru()">
            <i class="fas fa-save mr-right-5"></i>{{ langData[langCode].LUU }}
          </button>
        </div>
      </div>
    </div>
  </form>
</ng-template>
