.ev-green {
  color: #424242 !important;
  background: #4caf50;
  border: solid 2px #4caf50;
  overflow: hidden;
}

.ev-amber {
  color: #424242 !important;
  background: #ffc107;
  border: solid 2px #ffc107;
  overflow: hidden;
}

.ev-orange {
  color: #ffffff !important;
  background: #ff5722;
  border: solid 2px #ff5722;
  overflow: hidden;
}

.ev-red {
  color: #ffffff !important;
  background: #f44336;
  border: solid 2px #f44336;
  overflow: hidden;
}

.ev-indigo {
  color: #ffffff !important;
  background: #3f51b5;
  border: solid 2px #3f51b5;
  overflow: hidden;
}

.ev-blue {
  color: #424242 !important;
  background: #2196f3;
  border: solid 2px #2196f3;
  overflow: hidden;
}

.ev-purple {
  color: #ffffff !important;
  background: #9c27b0;
  border: solid 2px #9c27b0;
  overflow: hidden;
}

.ev-chu-thich {
  width: 105px;
  height: 24px;
  text-align: center;
  display: inline-block;
  margin-right: 5px;
}

.ev-chu-thich-icon {
  width: 19px;
  height: 19px;
  font-size: 17px;
  background: #2c3192;
  color: white;
  text-align: center;
}
.ev-chu-thich-block {
  display: inline;
}

.fc-button-primary {
  background-color: #2c3192 !important;
  border-color: #2c3192 !important;
}

.fc-button-primary:hover {
  background-color: #262a80 !important;
  border-color: #262a80 !important;
}

.fc-button-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #393b706e !important;
  box-shadow: 0 0 0 0.2rem #393b706e !important;
}

.fc-button-primary:disabled {
  background-color: #41458d !important;
  border-color: #41458d !important;
}

.fc-button-primary:not(:disabled):active,
.fc-button-primary:not(:disabled).fc-button-active {
  background-color: #41458d !important;
  border-color: #41458d !important;
}
