.mr-right-10 {
  margin-right: 10px;
}
.mr-right-5 {
  margin-right: 5px;
}
.mr-top-10 {
  margin-top: 10px;
}
.mr-left-5 {
  margin-left: 5px;
}
.mr-top-5 {
  margin-top: 5px;
}
.mr-bot-5 {
  margin-bottom: 5px;
}
.mr-bot-10 {
  margin-bottom: 10px;
}

.mr-bot-15 {
  margin-bottom: 10px;
}




.mr-left-10 {
  margin-left: 10px;
}

.mr-all-5 {
  margin: 5px;
}


.mr-all-15 {
  margin: 15px;
}
