.ant-btn {
  border-radius: 4px;
}

[class^="ant-btn-"][disabled],
[class^="ant-btn-"][disabled]:hover,
[class^="ant-btn-"][disabled]:focus,
[class^="ant-btn-"][disabled]:active {
  color: #00000040 !important;
  background: #f5f5f5 !important;
  border-color: #d9d9d9 !important;
}

.ant-btn-primary {
  background-color: #2c3192 !important;
  border-color: #2c3192 !important;
}

/* Global NzButton Color */
.nz-btn-green {
  border: 1px solid #28a745 !important;
  background-color: #28a745 !important;
  color: #fff !important;
}
.nz-btn-green:hover,
.nz-btn-green:focus {
  border: 1px solid #259940 !important;
  background-color: #259940 !important;
  color: #fff !important;
}
.nz-btn-red {
  border: 1px solid #F44336 !important;
  background-color: #F44336 !important;
  color: #fff !important;
}
.nz-btn-red:hover,
.nz-btn-red:focus {
  border: 1px solid #e64034 !important;
  background-color: #e64034 !important;
  color: #fff !important;
}
.nz-btn-blue {
  border: 1px solid #007bff !important;
  background-color: #007bff !important;
  color: #fff !important;
}
.nz-btn-blue:hover,
.nz-btn-blue:focus {
  border: 1px solid #0072ec !important;
  background-color: #0072ec !important;
  color: #fff !important;
}
/* End Global NzButton Color */
