.no-padding {
  padding: 0;
}
.pad-bot-form {
  padding-bottom: 10px;
}
.pad-left-form-control {
  padding-left: 10px;
}
.pad-left-10 {
  padding-left: 10px;
}
.pad-right-10 {
  padding-right: 10px;
}
.pad-bot-10 {
  padding-bottom: 10px;
}
.pad-top-10 {
  padding-top: 10px;
}
.pad-left-15 {
  padding-left: 15px;
}
.pad-right-15 {
  padding-right: 15px;
}
.pad-bot-15 {
  padding-bottom: 15px;
}
.pad-top-15 {
  padding-top: 15px;
}

.pad-left-5 {
  padding-left: 5px;
}
